<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>:: REGISTRATION ::</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Spring Security Custom Login Example</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>-->
	<br /><br />
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<div th:if="${param.success}">
					<div class="alert alert-danger">You've successfully registered.</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Registration Form</h2>
					</div>
					<div class="card-body">
						<form method="post" role="form" th:action="@{/registration}" th:object = ${user} class="form-horizontal">
							<div class="form-group mb-3">
								<label class="control-label"> User Name</label>
								<input type="text" id="username" name="username" class="form-control"
									placeholder="Enter User Name" autocomplete="off" th:field="*{userName}" autofocus required/>
							</div>

							<div class="form-group mb-3">
								<label class="control-label"> Password</label>
								<input type="password" id="password" name="password" class="form-control"
									placeholder="Enter password" autocomplete="off" th:field="*{password}" required/>
							</div>
							
							<div class="form-group mb-3">
								<label class="control-label"> E-mail</label>
								<input type="text" id="email" name="email" class="form-control"
									placeholder="Enter password" autocomplete="off" th:field="*{email}" required/>
							</div>
							<div class="form-group mb-3 text-center">
								<button type="submit" class="btn btn-primary">Register</button>
								<span>Already registered ? <a href="/" th:href="@{/login}"> Login here</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>